<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../../../assets/A.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="css/home.pagestyle.css">
    <title>Información sobre ETS</title>
</head>

<body>
    <nav class="white nav-height">
        <div class="nav-wrapper nav-height nav-style">
            <a href="#!" class="brand-logo inherit">
                <img class="logo" src="../../../assets/Adara.png" alt="no-image">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="home.page.html#product" class="black-text">Inicio</a></li>
                <li><a href="mi_perfil.html" class="black-text">Mi Perfil</a></li>
            </ul>
        </div>
    </nav>

    <div style="height: 100vh; width: 100vw; margin-top: 15px;">
        <center>
            <img src="../../../assets/comic.jpg" alt="Mi comic">
        </center>
    </div>

    <h1 id="product">Información sobre Enfermedades de Transmisión Sexual (ETS)</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card" id="ets-info">
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">¿Qué son las ETS?</span>
                        <p>Las Enfermedades de Transmisión Sexual (ETS) son infecciones que se transmiten de una persona
                            a otra a través de actividades sexuales. Estas infecciones pueden afectar a cualquier
                            persona sexualmente activa, sin importar su género, orientación sexual o edad.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="prevencion-ets">
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Prevención de ETS</span>
                        <p>La prevención de las ETS es fundamental para mantener una buena salud sexual. Las medidas de
                            prevención incluyen el uso correcto y constante de condones durante las relaciones sexuales,
                            tener relaciones sexuales seguras y monógamas, y realizarse exámenes médicos regulares para
                            detectar y tratar cualquier ETS en una etapa temprana.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" id="tratamiento-ets">
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Tratamiento de ETS</span>
                        <p>Si se sospecha una ETS, es importante buscar tratamiento médico. Algunas ETS son curables con
                            antibióticos, mientras que otras son manejables pero no curables. Es fundamental seguir las
                            indicaciones de un profesional de la salud para tratar y controlar cualquier ETS.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <center>
            <h2>Tipos de ETS</h2>
            <p>A continuación, se presentan algunos ejemplos de enfermedades de transmisión sexual:</p>
        </center>
        <div class="row">
            <div class="col s12 m4">
                <div class="card blue-grey ">
                    <div class="card-content white-text">
                        <span class="card-content">VIH/SIDA</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card blue-grey ">
                    <div class="card-content white-text">
                        <span class="card-content">Gonococia (clamidia)</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card blue-grey ">
                    <div class="card-content white-text">
                        <span class="card-content">Sífilis</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card blue-grey">
                    <div class="card-content white-text">
                        <span class="card-content">Herpes genital</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card blue-grey">
                    <div class="card-content white-text">
                        <span class="card-content">Condilomas genitales (verrugas genitales)</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card blue-grey">
                    <div class="card-content white-text">
                        <span class="card-content">Hepatitis B y C</span>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <p>Es importante conocer los síntomas y las medidas de prevención de cada una de estas ETS. Consulta a un
                profesional de la salud si tienes preguntas o preocupaciones sobre tu salud sexual.</p>
        </center>
    </div>

    <footer class="page-footer white">
        <div class="footer-copyright">
            <div class="container footer-row" >
                <ul id="icon-list">
                    <li>
                        <a target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a target="_blank"><i
                                class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a target="_blank"><i
                                class="fab fa-twitter"></i></a>
                    </li>
                </ul>
                <a class="black-text right" style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">© Realizada por Darsy Gonzalez 2023</a>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/c5eb9eca11.js" crossorigin="anonymous"></script>
</body>

</html>